/* General Styles */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
    transition: background 0.3s, color 0.3s;
}

/* Header Section */
header {
    background: #1f1f1f;
    color: white;
    padding: 20px;
}

button {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    background: #ff4081;
    color: white;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background: #00bcd4;
}

/* Projects Section */
#projects {
    margin: 20px;
    padding: 20px;
    background-color: #1f1f1f;
    color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

/* Dark Mode */
.dark-mode {
    background-color: #333;
    color: white;
}

.dark-mode header {
    background: #000;
}

.dark-mode button {
    background: #ff5722;
}
